
<html lang="en" dir="ltr">
<head>

		<meta charset="utf-8">
		<title>Nutrition Image Analysis</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='diabetes-favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	</head>
	    
		<!-- Result -->
		<div class="results">
		        <p style="padding-top: 150px; color:rgb(40, 28, 36);"><h4 style="color:rgb(21, 21, 30);">Food Classified is: <h4><b><h4 style="color:rgb(23, 27, 22);"><u>{{showcase1}}<h4><br><h4 style="color:rgb(99, 19, 220);"><u>{{showcase}}<h4></p>
			
		</div>
		<br>
		<br>
       
    </div>
	</body>
</html>
